.app {
  height: 100vh;
  overflow: auto;
  section {
    min-height: calc(100% - 70px);
    background-color: var(--section-bg);
    padding: 20px;
  }
}

@media screen and (max-width: 650px) {
  .app {
    > section {
      padding: 10px;
    }
  }
}