:root {
  --primary: #0969DA;
  --primary-hover: #1677e8;
  --section-bg: #F0F2F7;
  --block-bg: #FFFFFF;
  --block-secondary-bg: #686E7A;
  --font-main: #000000;
  --font-main-reversed: #FFFFFF;
  --shared-bg: #F0F2F7;
  --btn-bg: #0969DA;
  --theme-select-item: #0969DA;
  --green: #03A855;
  --red: #D83030;
  --corner: 8px 12px;
  --radius: 6px;
}

[data-theme='dark'] {
  --section-bg: #0F1114;
  --block-bg: #16181D;
  --font-main: #FFFFFF;
  --font-main-reversed: #000000;
  --add-btn-bg: #0969DA;
  --shared-bg: #1c2026;
  --theme-select-item: #F0F2F7;
}