.header{
  height: 70px;
  padding: 0 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--block-bg);

  &Links{
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 0 10px;
  }
}