.chatMessage {
  display: flex;
  align-items: flex-end;
  gap: 10px;

  .chatMessageDate {
    display: flex;
    align-items: center;
    margin-top: auto;
    gap: 10px;

    > p {
      font-weight: 500;
      font-size: 13px;
      color: var(--grey-text);
    }
  }
}