.settings {
  background-color: var(--block-bg);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: var(--radius);

  > :last-child {
    color: #FFFFFF;
    background-color: var(--red);
  }

  &Avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    > button {
      position: absolute;
      background-color: inherit;
      backdrop-filter: blur(5px);
      top: calc(100% - 50px);
      margin-left: 100px;
    }

    &Custom {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 100px;
    }
  }
}

.settingsRow {
  display: flex;
  align-items: center;
  gap: 12px;
}

label {
  width: 100%;
}

.settingsCol {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 800px) {
  .settings {
    gap: 10px;
  }
  .settingsRow {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}

@media screen and (max-width: 500px) {
  .settings {
    padding: 16px;
  }
}