.chatFrame {
  background-color: var(--block-bg);
  border-radius: 0 8px 8px 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  &Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid var(--shared-bg);

    &Info {
      display: flex;
      align-items: center;
      gap: 12px;

      > div {
        display: flex;
        flex-direction: column;
        gap: 2px;
      }

      li {
        color: inherit;
      }

      &Online {
        color: var(--green);
      }
    }

    &Options {
      display: flex;
      align-items: center;
      position: relative;

      > Button {
        background-color: inherit;
        padding: 8px;
      }
    }

    &OptionsPopup {
      top: 100%;
      right: 10px;
    }

    &OptionsNote {
      box-shadow: 0 15px 40px 0 rgba(22, 24, 29, 0.12);
      background: var(--block-bg);
      border-radius: var(--radius);
      top: 100%;
      right: 50px;
      min-width: 350px;

      > div {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;

        h3 {
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
        }

        .noteTextarea {
          height: 200px;
        }

        :last-child {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 8px;
        }
      }
    }
  }

  &Body {
    padding: 20px 20px 0 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px);
    overflow-y: auto;
    gap: 12px;

    &Messages {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }

  &Control {
    padding: 20px;
    display: flex;
    align-items: center;

    &Input {
      width: 100%;
    }
  }
}

.chatFrameSelect {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  > div {
    padding: 10px;
    background-color: var(--receiver-message);
    border-radius: var(--radius);
  }
}

.chatFrameAttachPopup {
  bottom: 100px;
}

@media screen and (max-width: 650px) {
  .chatFrame {
    &Body {
      padding: 10px 10px 0 10px;
    }

    &Control {
      padding: 10px;
    }
  }
  .chatFrameAttachPopup {
    bottom: 80px;
  }
}

@media screen and (max-width: 500px) {
  .chatFrame {
    &Header {
      &OptionsNote {
        right: 0;
        min-width: 300px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .chatFrame {
    &Header {
      padding: 10px;
    }
  }
}