.chatList {
  background-color: var(--block-bg);
  padding: 20px;
  border-radius: 8px 0 0 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 400px;

  &Header {
    display: flex;
    flex-direction: column;
    gap: 16px;

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;

      span {
        display: flex;
        align-items: flex-end;
        gap: 12px;

        h3 {
          color: var(--primary);
        }
      }

      ul {
        display: flex;
        align-items: center;
      }
    }
  }

  &Body {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 290px);
    overflow-y: auto;
  }
}

.center {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 6px;

  > p {
    font-size: 16px;
    font-weight: 600;
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 10px;

  > p {
    font-size: 16px;
    font-weight: 600;
  }
}

@media screen and (max-width: 650px) {
  .chatList {
    padding: 10px;
    border-radius: 0 8px 8px 0;
  }
}

@media screen and (max-width: 500px) {
  .chatList {
    min-width: calc(100% - 70px);
  }
}