.hiddenLabaledInput {
  position: relative;
  transition: none;

  > :first-child {
    > input {
      position: relative;
      z-index: 1;
    }
  }

  > button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-25%);
    z-index: 2;
  }
}

.hiddenLabaledInputStatus {
  > button {
    transform: translateY(-50%);
  }
}